version: "3.9"

services:
  db:
    container_name: db
    image: postgres
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  grpc-service:
    container_name: grpc-service
    image: oteldemo/grpc-service
    ports:
      - "50051:50051"
    environment:
      - SERVICE_PORT=50051
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db
  http-service:
    container_name: http-service
    image: oteldemo/http-service
    ports:
      - "8080:80"
    environment:
      - SERVICE_PORT=80
      - GRPC_SERVICE_HOST=grpc-service
      - GRPC_SERVICE_PORT=50051
    depends_on:
      - grpc-service
