receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
    timeout: 10s
  resourcedetection:
    detectors: [gce, ecs, ec2, azure, system]

exporters:
  datadog/api:
    env: dev
    # service: oteldemo-hao-wang
    version: 0.1.0

    tags:
      - example:tag

    api:
      # Datadog Non-Production Key
      # https://app.datadoghq.com/organization-settings/api-keys
      key: <Datadog API Key>
      site: datadoghq.com

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, resourcedetection]
      exporters: [datadog/api]
